.form-field {
  width: 600px;
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 6px;
}

.form-field .btn-search{
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  color: rgb(224, 85, 43);
}
