<div fxLayout="column">
  <p class="mat-h1">INFORME O SEU EMAIL</p>
  <form [formGroup]="form">
    <mat-form-field color="basic" appearance="outline" fxFill>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" id="email" />
      <mat-error>
        <app-form-error-msg [control]="getFormControl('email')" label="Email">
        </app-form-error-msg>
      </mat-error>
    </mat-form-field>
  </form>
  <button mat-raised-button fxFill (click)="onSubmit()">
    ENVIAR
  </button>
</div>
