<div>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FAZER CADASTRO
      </mat-panel-title>
      <mat-panel-description>
        Ainda não é cadastrado no site?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div id="registrationForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <input matInput placeholder="EMAIL" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="SENHA" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="CONFIRME SUA SENHA" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="CPF ou CNPJ" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="CEP" />
      </mat-form-field>
      <button mat-flat-button color="primary" fxFill>CADASTRAR</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        LOGIN
      </mat-panel-title>
      <mat-panel-description>
        Entre com seus dados de login e senha.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div id="registrationForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <input matInput placeholder="EMAIL" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="SENHA" />
      </mat-form-field>
      <button mat-flat-button color="primary">ENTRAR</button>
    </div>
  </mat-expansion-panel>
</div>
