#container {
  margin-top: 8vh;
  min-height: 50vh !important;
  height: 50vh !important;
}

#login {
  margin: 0px 10px 0px 10px;
}

#registration {
  margin: 0px 10px 0px 10px;
}

#verticalDivider {
  height:300px;
  margin-left:25px;
  margin-right:25px;
}

#horizontalDivider {
  margin: 25px 0px 25px 0px;
}

#forgotPasswordAnchor {
  color: grey;
  margin-bottom: 5px;
}

#padding-top-lt-md {
  padding-top: 40px;
}
