main {
  height: 72vh !important;
}

#login {
  margin: 0px 10px 0px 10px;
}

#registration {
  margin: 0px 10px 0px 10px;
}

#verticalDivider {
  height:300px;
  margin-left:25px;
  margin-right:25px;
}

#horizontalDivider {
  margin: 25px 0px 25px 0px;
}

#forgotPasswordAnchor {
  color: grey;
  margin-bottom: 5px;
}

#padding-top-lt-md {
  height: 60px;
}

.mat-headline {
  font-weight: 410;
}

.logging-progress {
  height: 60vh;
}

@media (max-width: 959px){
  main {
    height: 65vh;
    margin-top: 5vh;
  }
}
