<mat-toolbar color="primary">
  <div fxLayoutAlign="space-between center" fxFill>
    <img src="../../../../assets/LOGO.png" alt="Logo da loja" id="logo" routerLink=""/>
    <div id="search-bar" fxFlex="70">
      <mat-form-field appearance="outline" fxFlex="100">
        <input matInput placeholder="Buscar" type="text" />
        <button
          class="btn-search"
          matSuffix
          mat-icon-button
          aria-label="Search"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-icon-button routerLink="/cart" >
      <mat-icon class="toolbar-icon">shopping_cart</mat-icon>
    </button>
    <div fxFlex="5">
      <button mat-icon-button id="login-icon" routerLink="/login">
        <mat-icon class="toolbar-icon">person</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
