<mat-toolbar color="primary">
  <div fxLayoutAlign="space-between center" fxFill>
    <img src="../../../../assets/LOGO.png" alt="Logo da loja" id="logo" routerLink=""/>
    <div id="search-bar" fxFlex="70">
      <!-- <mat-form-field appearance="outline" fxFlex="100">
        <input matInput placeholder="Buscar" type="text" [formControl]="queryField"/>
        <button
          class="btn-search"
          matSuffix
          mat-icon-button
          aria-label="Search"
          routerLink="/buscar"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field> -->
      <app-search-bar></app-search-bar>
    </div>
    <button mat-icon-button *ngIf="isLoggedIn" routerLink="/carrinho" >
      <mat-icon class="toolbar-icon">shopping_cart</mat-icon>
    </button>
    <div fxFlex="5">
      <button mat-icon-button *ngIf="!isLoggedIn" id="login-icon" routerLink="/login">
        <mat-icon class="toolbar-icon">login</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isLoggedIn" (click)="logOut()">
        <mat-icon class="toolbar-icon">logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
