<main fxLayout="row wrap" fxLayoutAlign="center center">
  <div
    id="title"
    fxFlex="100"
    fxFlexOffset.lt-sm="3"
    fxFlexOffset.lt-md="15"
    fxFlexOffset.lt-lg="25"
    fxFlexOffset.gt-md="30"
  >
    <h1 class="mat-display-3">Recuperar senha</h1>
    <p class="mat-caption">Digite abaixo sua nova senha</p>
  </div>
  <form id="recoverPasswdForm" [formGroup]="form" fxLayout="row wrap" fxFill>
    <mat-form-field
      appearance="outline"
      fxFlex.lt-sm="94"
      fxFlex.lt-md="70"
      fxFlex.lt-lg="50"
      fxFlex.gt-md="40"
      fxFlexOffset.lt-sm="3"
      fxFlexOffset.lt-md="15"
      fxFlexOffset.lt-lg="25"
      fxFlexOffset.gt-md="30"
    >
      <mat-label>Nova senha</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>
        <app-form-error-msg
          [control]="getFormControl('password')"
          label="Senha"
        ></app-form-error-msg>
      </mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      fxFlex.lt-sm="94"
      fxFlex.lt-md="70"
      fxFlex.lt-lg="50"
      fxFlex.gt-md="40"
      fxFlexOffset.lt-sm="3"
      fxFlexOffset.lt-md="15"
      fxFlexOffset.lt-lg="25"
      fxFlexOffset.gt-md="30"
    >
      <mat-label>Confirmar senha</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error *ngIf="getFormControl('confirmPassword').hasError('required')">
        É necessário confirmar sua senha
      </mat-error>
      <mat-error
        *ngIf="
          getFormControl('confirmPassword').hasError(
            'confirmPasswordDoesNotMatch'
          )
        "
      >
        Não coincide com a senha digitada
      </mat-error>
    </mat-form-field>
    <mat-error style="text-align: center;">
      {{apiError}}
    </mat-error>
    <div fxFlexOffset.gt-xs="10"></div>
    <div fxHide.gt-xs fxFlex.lt-sm="94" fxFlexOffset.lt-sm="3">
      <button mat-flat-button color="primary" fxFill>CONFIMAR</button>
    </div>
    <div
      fxLayoutAlign="end center"
      fxHide.lt-sm
      fxFlex.lt-md="70"
      fxFlex.lt-lg="50"
      fxFlex.gt-md="40"
      fxFlexOffset.lt-md="15"
      fxFlexOffset.lt-lg="25"
      fxFlexOffset.gt-md="30"
    >
      <button mat-flat-button color="primary" (click)="onSubmit()">
        CONFIMAR
      </button>
    </div>
  </form>
</main>
