.form-field {
  width: 600px;
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 6px;
  font-size: 1.2em;
}

.form-field .btn-search{
  background-color: white;
  border: none;
  width: 30px;
  height: 5px;
  color: rgb(224, 85, 43);
  cursor: pointer;
}

::ng-deep .mat-focus-indicator, .btn-search, .mat-icon-button, .mat-button-base{
  height: 5px !important;
}
