.form-field {
  background-color: white;
  border-radius: 6px;
  width: 700px;
}

.form-field .btn-search{
  border: none;
  color: #f44336;
  cursor: pointer;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
  margin: 0;
}

:host::ng-deep .mat-form-field-wrapper{
  padding: 0;
}
