<mat-card class="example-card">
    
      <mat-card-title>Camiseta Masculina</mat-card-title>
        <img mat-card-md-image src="https://svgsilh.com/svg_v2/2798506.svg"  alt="Img Camiseta">
    
    <mat-card-content>
        <p>
        R$ 15,00
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>COMPRAR</button>
      </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card1">
    
      <mat-card-title>Calça</mat-card-title>
      
      <img mat-card-md-image src="https://svgsilh.com/svg/1607444.svg" alt="Img Calça">
    
    <mat-card-content>
        <p>
        R$ 20,00
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>COMPRAR</button>
      </mat-card-actions>
  </mat-card>




  