<div id="registrationForm" fxLayout="row wrap" fxFill>
  <mat-form-field
    appearance="outline"
    fxFlex.lt-sm="94"
    fxFlex.lt-md="70"
    fxFlex.lt-lg="50"
    fxFlex.gt-md="40"
    fxFlexOffset.lt-sm="3"
    fxFlexOffset.lt-md="15"
    fxFlexOffset.lt-lg="25"
    fxFlexOffset.gt-md="30"
  >
    <input matInput placeholder="NOME" />
  </mat-form-field>
  <mat-form-field
    appearance="outline"
    fxFlex.lt-sm="94"
    fxFlex.lt-md="70"
    fxFlex.lt-lg="50"
    fxFlex.gt-md="40"
    fxFlexOffset.lt-sm="3"
    fxFlexOffset.lt-md="15"
    fxFlexOffset.lt-lg="25"
    fxFlexOffset.gt-md="30"
  >
    <input matInput placeholder="EMAIL" type="email" />
  </mat-form-field>
  <div fxLayout="row wrap" fxFlex="100">
    <mat-form-field
      appearance="outline"
      fxFlex.lt-sm="94"
      fxFlex.lt-md="33"
      fxFlex.lt-lg="23"
      fxFlex.gt-md="19"
      fxFlexOffset.lt-sm="3"
      fxFlexOffset.lt-md="15"
      fxFlexOffset.lt-lg="25"
      fxFlexOffset.gt-md="30"
    >
      <input matInput placeholder="SENHA" type="password"/>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      fxFlex.lt-sm="94"
      fxFlex.lt-md="33"
      fxFlex.lt-lg="23"
      fxFlex.gt-md="19"
      fxFlexOffset.lt-sm="3"
      fxFlexOffset.gt-xs="4"
      fxFlexOffset.gt-md="2"
    >
      <input matInput placeholder="CONFIRMAR SENHA" type="password"/>
    </mat-form-field>
  </div>
  <mat-form-field
    appearance="outline"
    fxFlex.lt-sm="94"
    fxFlex.lt-md="70"
    fxFlex.lt-lg="50"
    fxFlex.gt-md="40"
    fxFlexOffset.lt-sm="3"
    fxFlexOffset.lt-md="15"
    fxFlexOffset.lt-lg="25"
    fxFlexOffset.gt-md="30"
  >
    <input matInput placeholder="CPF" />
  </mat-form-field>
  <mat-form-field
    appearance="outline"
    fxFlex.lt-sm="94"
    fxFlex.lt-md="70"
    fxFlex.lt-lg="50"
    fxFlex.gt-md="40"
    fxFlexOffset.lt-sm="3"
    fxFlexOffset.lt-md="15"
    fxFlexOffset.lt-lg="25"
    fxFlexOffset.gt-md="30"
  >
    <input matInput placeholder="TELEFONE" />
  </mat-form-field>
  <div fxFlexOffset.gt-xs="10"></div>
  <div fxHide.gt-xs fxFlex.lt-sm="94" fxFlexOffset.lt-sm="3">
    <button mat-flat-button color="primary" fxFill>CONFIMAR</button>
  </div>
  <div
    fxLayoutAlign="end center"
    fxHide.lt-sm
    fxFlex.lt-md="70"
    fxFlex.lt-lg="50"
    fxFlex.gt-md="40"
    fxFlexOffset.lt-md="15"
    fxFlexOffset.lt-lg="25"
    fxFlexOffset.gt-md="30"
  >
    <button mat-raised-button>CONFIMAR</button>
  </div>
</div>
