<div class="nav-bar">
  <ul class="menu" fxFlex=100>
    <li fxFlex=20><a href="">Destaques</a></li>
    <li><a href="">Promoção</a></li>
    <li fxFlex=20>
      <a href="">Feminino</a>
      <ul>
        <li><a href="">Calças</a></li>
        <li><a href="">Camisetas</a></li>
        <li><a href="">Blusas</a></li>
        <li><a href="">Bermudas</a></li>
      </ul>
    </li>
    <li fxFlex=20>
      <a href="">Masculino</a>
      <ul>
        <li><a href="">Calças</a></li>
        <li><a href="">Camisetas</a></li>
        <li><a href="">Blusas</a></li>
        <li><a href="">Bermudas</a></li>
      </ul>
    </li>
    <li fxFlex=20>
      <a href="">Infantil</a>
      <ul>
        <li><a href="">Calças</a></li>
        <li><a href="">Camisetas</a></li>
        <li><a href="">Blusas</a></li>
        <li><a href="">Bermudas</a></li>
      </ul>
    </li>
  </ul>
</div>
