<div class="nav-bar">
  <ul class="menu">
    <li ><a href="">Destaques</a></li>
    <li><a href="">Promoção</a></li>
    <li>
      <a href="">Feminino</a>
      <ul>
        <li><a href="">Calças</a></li>
        <li><a href="">Camisetas</a></li>
        <li><a href="">Blusas</a></li>
        <li><a href="">Bermudas</a></li>
      </ul>
    </li>
    <li>
      <a href="">Masculino</a>
      <ul>
        <li><a href="">Calças</a></li>
        <li><a href="">Camisetas</a></li>
        <li><a href="">Blusas</a></li>
        <li><a href="">Bermudas</a></li>
      </ul>
    </li>
    <li>
      <a href="">Infantil</a>
      <ul>
        <li><a href="">Calças</a></li>
        <li><a href="">Camisetas</a></li>
        <li><a href="">Blusas</a></li>
        <li><a href="">Bermudas</a></li>
      </ul>
    </li>
  </ul>
</div>
