<div fxLayout="row wrap">
  <div class="cards" fxFlex="100" style="margin-top: 35px;">
    <div
      fxLayout="row wrap"
      fxLayoutGap="16px grid"
      fxLayoutAlign="center center"
      fxFlex="100"
    >
      <div
        fxLayoutAlign="center center"
        fxFlex.xs="100"
        fxFlex.sm="50"
        fxFlex.md="33"
        fxFlex.lg="25"
        *ngFor="let product of products"
      >
        <app-generic-card [product]="product"></app-generic-card>
      </div>
    </div>
  </div>
</div>
