.example-card{
  max-width: 400px;
  margin-bottom: 20px;
}


img{
  min-width: 270px;
  min-height: 270px;
  max-width: 10vw;
  max-height: 10vh;
}

a:hover{
  cursor: pointer;
}

.add-cart{
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 30px;
}

.buttons{
  padding: 0px 16px 16px 16px;
}

mat-card-subtitle {
  margin-bottom: 0px;
}
