<main fxLayoutAlign="center center" fxLayout="row wrap">
  <div
    fxFlex.lt-sm="100"
    fxFlex.md="30"
    fxLayoutAlign="center center"
    id="img-produto"
  >
    <img
      mat-card-image
      src="{{product.imageUrl}}"
      fxFill
      alt="Foto do produto"
    />
  </div>
  <div class="produto-detalhe" fxFlex.lt-sm="100" fxFlex.md="40">
    <div>
      <h1>{{product.name}}</h1>
      <div class="detalhes-section">
        <mat-card-title>
          <h2>Detalhes:</h2>
        </mat-card-title>
      </div>
      <p id="produto-text">
        {{product.description}}
      </p>
    </div>
    <h3 id="price-text">Preço: {{product.price | currency }}</h3>
    <div id="buttons-section">
      <mat-card-content>
        <div class="size-buttons">
          <ul>
            <li id="tamanhos-text"><strong>Tamanhos:</strong></li>
            <li><button mat-mini-fab color="link">P</button></li>
            <li><button mat-mini-fab color="link">M</button></li>
            <li><button mat-mini-fab color="link">G</button></li>
            <li><button mat-mini-fab color="link">GG</button></li>
          </ul>
        </div>
        <br />
        <div class="shop-buttons">
          <ul>
            <li>
              <button mat-button mat-flat-button disabled>
                VER OPÇÕES DE PAGAMENTO
              </button>
            </li>
            <li>
              <app-buy-button [product]="product"></app-buy-button>
            </li>
          </ul>
        </div>
      </mat-card-content>
    </div>
  </div>
</main>
