main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center;
  align-items: center;
}

li {
  padding-right: 4px;
}

h1 {
  font-size: 50px;
  padding: 2vh 0 2vh 0;
}

h2 {
  font-size: 30px;
}

.produto-card {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.produto-detalhe {
  flex: 3;
}

.produto-card img {
  border: solid 1px black;
}

.example-card {
  max-width: 400px;
}

#price-text {
  margin-left: auto;
}

.mat-card-title {
  display: flex;
  flex-direction: row;
}
