main {
  display: flex;
  flex-direction: row;
}

.produto-card {
  width: 30vw;
  margin: 2vh 2vw 0 2vw;
}

.produto-card img {
  border: solid 1px black;
}

.produto-detalhe {
  margin: 2vh 2vw 2vh 0;
  width: 80vw;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

h1 {
  font-size: 50px;
  padding: 2vh 0 2vh 0;
}

h2 {
  font-size: 30px;
  padding-bottom: 1vh;
}

#produto-text {
  font-size: 20px;
}

label {
  line-height: 40px;
}

.mat-tab-group {
  margin-bottom: 48px;
}
