<main>
  <app-header-gt-sm fxHide.lt-md></app-header-gt-sm>
  <app-header-lt-md (sidenav)="sidenav.toggle()" fxHide.gt-sm></app-header-lt-md>
  <app-menu-nav-bar fxHide.lt-md></app-menu-nav-bar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav fxLayout="column">
        <mat-expansion-panel hideToggle #destaquesPanel (opened)="panelAsButtonClick('destaques')" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Destaques
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Feminino
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a fxFill routerLink="/buscar" [queryParams]="{categoria: 5}" mat-button>Calças</a>
          <a fxFill routerLink="/buscar" [queryParams]="{categoria: 4}" mat-button>Camisetas</a>
          <a fxFill routerLink="/buscar" [queryParams]="{categoria: 6}" mat-button>Bermudas</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Masculino
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a fxFill routerLink="/buscar" [queryParams]="{categoria: 2}" mat-button>Calças</a>
          <a fxFill routerLink="/buscar" [queryParams]="{categoria: 1}" mat-button>Camisetas</a>
          <a fxFill routerLink="/buscar" [queryParams]="{categoria: 3}" mat-button>Bermudas</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Infantil
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a fxFill routerLink="/buscar" [queryParams]="{categoria: 8}" mat-button>Calças</a>
          <a fxFill routerLink="/buscar" [queryParams]="{categoria: 7}" mat-button>Camisetas</a>
          <a fxFill routerLink="/buscar" [queryParams]="{categoria: 9}" mat-button>Bermudas</a>
        </mat-expansion-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
