<div>
  <mat-toolbar color="primary">
    <div fxHide.gt-sm fxLayout="row wrap">
      <mat-toolbar-row fxLayoutAlign="space-between start">
        <div fxShow="true" fxHide.gt-sm>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <img
          src="../../../../assets/LOGO.png"
          alt="Logo da loja"
          id="logo-lt-sm"
        />
        <div fxShow="true" fxHide.gt-sm>
          <button mat-icon-button routerLink="/login">
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <div style="font-size: 14px" fxFlex="100">
          <mat-form-field appearance="outline" fxFlex="100">
            <input
              matInput
              placeholder="Buscar"
              type="text"
            />
            <button
              class="btn-search"
              matSuffix
              mat-icon-button
              aria-label="Search"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-toolbar-row>
    </div>
    <div fxHide.lt-md fxLayoutAlign="space-between center">
      <img
        src="../../../../assets/LOGO.png"
        alt="Logo da loja"
        id="logo-gt-md"
      />
      <div style="font-size: 14px" fxFlex="70">
        <mat-form-field appearance="outline" fxFlex="100">
          <input
            matInput
            placeholder="Buscar"
            type="text"
          />
          <button
            class="btn-search"
            matSuffix
            mat-icon-button
            aria-label="Search"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button mat-icon-button routerLink="/login">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <app-menu-nav-bar fxHide.lt-md></app-menu-nav-bar>
  <mat-sidenav-container fxFlexFill fxHide.gt-sm>
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content style="height: 80vh">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div fxHide.lt-md>
    <router-outlet></router-outlet>
  </div>
</div>
